Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [0]:
import pandas as pd
import numpy as np

In [3]:
source_file1 = '/content/redacted_sales_data.csv'
df = pd.read_csv(source_file1)
df.tail(3)

      Name      Price        Tax   ...  Terminal   User  Date
25151   NaN        NaN        NaN  ...        NaN    NaN   NaN
25152   NaN        NaN        NaN  ...        NaN    NaN   NaN
25153   NaN  928084.05  173078.94  ...        NaN    NaN   NaN

[3 rows x 8 columns]

In [4]:
df.head()

  Name   Price    Tax   ...            Terminal   User                 Date
0   NaN   65.16  11.66  ...  Register 1 - Retail     E5   01/01/2019 8:34 AM
1   NaN   70.00  12.53  ...  Register 1 - Retail     E5   01/01/2019 8:55 AM
2   NaN   16.96   3.04  ...  Register 1 - Retail     E5   01/01/2019 8:57 AM
3   NaN   20.00   3.58  ...  Register 1 - Retail     E5   01/01/2019 8:59 AM
4   NaN    8.48   1.52  ...  Register 1 - Retail     E5  01/01/2019 10:00 AM

[5 rows x 8 columns]

In [0]:
# the column names have a trailing space, this removes it
df = df.rename(columns={'Name ':'Name', 'Price ':'Price', 'Tax ':'Tax',
                      'Total Price ':'Total Price', 'Total Paid ':'Total Paid',
                      'Terminal ':'Terminal', 'User ':'User', 'Date ':'Date'})

###Remove the NANs

In [0]:
### drop name column
df = df.drop(['Name'], axis=1)

In [9]:
## drop the last 12 rows
df.tail(13)

           Price        Tax  ...  User                Date
25141      50.27       9.89  ...    E2  06/02/2019 1:48 PM
25142        NaN        NaN  ...   NaN                 NaN
25143        NaN        NaN  ...   NaN                 NaN
25144        NaN        NaN  ...   NaN                 NaN
25145        NaN        NaN  ...   NaN                 NaN
25146        NaN        NaN  ...   NaN                 NaN
25147        NaN        NaN  ...   NaN                 NaN
25148        NaN        NaN  ...   NaN                 NaN
25149        NaN        NaN  ...   NaN                 NaN
25150        NaN        NaN  ...   NaN                 NaN
25151        NaN        NaN  ...   NaN                 NaN
25152        NaN        NaN  ...   NaN                 NaN
25153  928084.05  173078.94  ...   NaN                 NaN

[13 rows x 7 columns]

In [0]:
df = df.dropna(axis=0)

In [11]:
df.tail()

        Price    Tax  Total Price  ...             Terminal User                Date
25137    0.27   2.73         3.00  ...  Register 1 - Retail   E2  06/02/2019 1:27 PM
25138  139.94  25.05       164.99  ...  Register 1 - Retail   E7  06/02/2019 1:34 PM
25139   20.00   3.58        23.58  ...  Register 1 - Retail   E7  06/02/2019 1:36 PM
25140  150.26  26.90       177.16  ...                   12   E2  06/02/2019 1:38 PM
25141   50.27   9.89        60.16  ...  Register 1 - Retail   E2  06/02/2019 1:48 PM

[5 rows x 7 columns]

In [0]:
## drop total paid because it's redundant
## and drop terminal because it's not informative
## rename "User" column for clarity

df = df.drop(['Total Paid'], axis=1)
df = df.drop(['Terminal'], axis=1)
df = df.rename(columns={'Total Price':'Total'})
df = df.rename(columns={'User':'Employee'})

In [13]:
df.head()

   Price    Tax  Total Employee                 Date
0  65.16  11.66  76.82       E5   01/01/2019 8:34 AM
1  70.00  12.53  82.53       E5   01/01/2019 8:55 AM
2  16.96   3.04  20.00       E5   01/01/2019 8:57 AM
3  20.00   3.58  23.58       E5   01/01/2019 8:59 AM
4   8.48   1.52  10.00       E5  01/01/2019 10:00 AM

#TIME to choose a target!!!

In [14]:
df['Total'].describe()

count    25142.000000
mean        43.797748
std         40.177104
min          0.010000
25%         18.000000
50%         30.010000
75%         55.990000
max        517.480000
Name: Total, dtype: float64

In [15]:
df.isna().sum()

Price       0
Tax         0
Total       0
Employee    0
Date        0
dtype: int64

In [0]:
df["Above ATP"] = df["Total"] >= df.Total.mean()

In [17]:
df['Above ATP'].head()

0     True
1     True
2    False
3    False
4    False
Name: Above ATP, dtype: bool

In [0]:
df['Date'] = pd.to_datetime(df['Date'])

In [0]:
df['Month'] = df['Date'].dt.month

In [0]:
df['Week'] = df['Date'].dt.week
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute
df['Second'] = df['Date'].dt.second

#NOW make the test splits based on month

In [39]:
df.dtypes

Price               float64
Tax                 float64
Total               float64
Employee             object
Date         datetime64[ns]
Above ATP              bool
Month                 int64
Week                  int64
Day                   int64
Hour                  int64
Minute                int64
Second                int64
dtype: object

In [38]:
df.nunique().value_counts()

31       1
12       1
2092     1
10       1
22       1
23352    1
6        1
4004     1
60       1
2        1
1        1
3984     1
dtype: int64

In [33]:
df['Month'].value_counts()

5    5609
4    5457
3    5357
2    4322
1    4112
6     285
Name: Month, dtype: int64

In [0]:
train = df[df['Month'] <= 3]
val = df[df['Month'] == 4]
test = df[df['Month'] >= 5]

In [44]:
!pip install category_encoders==2.*

Collecting category_encoders==2.*
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 2.4MB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.2)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.14.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2.*) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

In [0]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [50]:
# The status_group column is the target
target = 'Above ATP'

# Get a dataframe with all train columns except the target & Date
features = train.drop(columns=[target])

print(features)

       Price    Tax  Total Employee  ... Day  Hour  Minute  Second
0      65.16  11.66  76.82       E5  ...   1     8      34       0
1      70.00  12.53  82.53       E5  ...   1     8      55       0
2      16.96   3.04  20.00       E5  ...   1     8      57       0
3      20.00   3.58  23.58       E5  ...   1     8      59       0
4       8.48   1.52  10.00       E5  ...   1    10       0       0
...      ...    ...    ...      ...  ...  ..   ...     ...     ...
13786  36.96   6.62  43.58       E3  ...  31    19      41       0
13787  20.44   4.55  24.99       E7  ...  31    19      43       0
13788  16.96   3.04  20.00       E3  ...  31    19      44       0
13789  12.00   2.15  14.15       E7  ...  31    19      45       0
13790   7.63   1.37   9.00       E7  ...  31    19      49       0

[13791 rows x 11 columns]

In [51]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

ValueError: ignored